body {
  background-color: #222;
  color: #F6F6F6;
  margin: 0;
  padding: 0;
}

a {
  color: #ffd60a;
  text-decoration: none;
}

a:visited {
  color: #ffc300;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25%;
}

/* Container holding the image and the text */
.img-container {
  position: relative;
}

/* Bottom left text */
.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
} 

/*
.container table {
  width: 100%;
  background-color: #222;
}

.container table tr:nth-child(even) {
  background-color: #F6F6F6;
}

.container table tr:hover {
  background-color: #ffc300;
  color: #222;
}
*/

::selection {
  background-color: #443FAA; /* Text highlight color */
  color: #fff; /* Text color in highlight */
}